@import "Variables.scss";

.containerCInfo{
    display: flex;
    padding: 15% 5% 3% 5%;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.titlePage{
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.titlePage h1{
    font-size: 3rem;
    color: $title__home;
}
.titlePage h2{
    font-size: 2.5rem;
    color: $title__home;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: $font__secondary;
}
.buton0{
    width: 10px;
}
.titlePage .buton1{
    background-color: #cdcd25;
    border-radius: 15px;
    opacity: 0.9;
    color: #1c1c2c;
    padding-right: 10px;
    font-weight: bolder;
}
.titlePage .buton1:hover{
    background-color: #24242c;
    color: white;
}
.titlePage .buton2{
    border-radius: 15px;
    color: #1c1c2c;
    padding-right: 10px;
    font-weight: bolder;
}
.titlePage .buton2{
    color: white;
    background-color: #24242c;
}
.titlePage .buton2:hover{
    background-color: rgb(255, 255, 255);
    color: #1c1c2c;
}
.Carousel a{
    visibility: hidden;
}
.goDown{
    width: 100%;
}
.arrowDown img{
    width: 35px;
}

@media (max-width: 767px){
    .titlePage{
        display: none;
    }
    .containerCInfo{
        padding: 5% 5% 4% 5%;
    }
}
@media (max-width: 600px){
    .goDown{
        padding: 0 0 5% 0;
    }
}
@media(max-width: 500px){
    .titleMobile{
        padding-bottom: 30%;
    }
    .titleMobile h3{
        font-size: 3rem;
    }
}
@media (min-width: 767px){
    .mobileIntro{
        display: none;
    }
}
@media (min-width: 850px){
    .containerCInfo{
        padding: 15% 5% 2% 5%;
    }
}
