@import '../styles/Variables.scss';

.containerDest{
    height: 850px;
    width: 100%;
    background: rgb(179,179,179);
    background: linear-gradient(90deg, rgba(179,179,179,1) 0%, rgba(191,217,233,1) 100%, rgba(255,255,255,1) 100%);
}
#offcanvasNavbar-expand-md {
    width: 70%;
}
.titleDest{
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.titleDest h2{
    font-family: $font__primary;
}
.titleDest h4{
    padding-top: 1%;
}
.line{
    border-bottom: 1px solid black;
    margin: 0 30% 0 30%;
}
.pics{
    height: 80%;
    width: 100%;
}
.relative img { 
    transition: var(--transition-2);
    opacity: 0.9;
}
.relative:is(:hover, :focus) img { 
    transform: scale(1.1); 
}
.relative:is(:hover, :focus) h6 { 
    color: white;
}

.firtsPics{
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dest1{
    width: 50%;
    padding: 0 5% 0 5%;
}
.relative{
    position: relative;
    width: 100%;
    height: 100%;
}
.relative img{
    width: 100%;    
    object-fit: cover;
    height: 90%;
    border-radius: 10px;
}
.country{
    position: absolute;
    bottom: 15%;
    left: 10%;
}
.country h5{
    color: #cdcd25;
    font-family: $font__primary;
    font-size: 2rem;
    -webkit-text-stroke: 1px white;
}
.country h6{
    font-size: 1.5rem;
    color: #24242c;
}
.dest2{
    width: 50%;
    padding: 0 5% 0 5%;
}

.secondPics{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dest3{
    width: 33%;
    padding: 0 3% 0 3%;
}
.dest4{
    width: 34%;
    padding: 0 3% 0 3%;
}
.dest5{
    width: 33%;
    padding: 0 3% 0 2%;
}
@media (max-width: 1000px){
    .dest3 .relative .country{
        opacity: 0;
    }
    .dest3 .relative .country:hover{
        opacity: 1;
    }
    .dest4 .relative .country{
        opacity: 0;
    }
    .dest4 .relative .country:hover{
        opacity: 1;
    }
    .dest5 .relative .country{
        opacity: 0;
    }
    .dest5 .relative .country:hover{
        opacity: 1;
    }
}
@media (max-width: 800px){
    .containerDest{
        height: 600px;
    }
}
@media (max-width: 700px){
    .containerDest{
        height: 700px;
    }
    .firtsPics{
        height: 60%;
    }
    .secondPics{
        height: 35%;
    }
}
@media (max-width: 500px){
    .containerDest{
        height: 650px;
    }
    .firtsPics{
        height: 60%;
    }
    .secondPics{
        height: 40%;
    }
    .country h5{
        font-size: 1.5rem;
    }
    .country h6{
        font-size: 1rem;
    }
}
@media (max-width: 450px){
    .country h5{
        font-size: 1.2rem;
    }
}