@font-face {
    font-family: 'daurose';
    src: local('daurose'), url(../assets/fonts/duarose-duarose-400.ttf) format('truetype');
}

// titles home

$title__home: #1c1c2c;

// fonts

$font__primary: 'daurose';
$font__secondary: 'Cabin';